@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(Images/background.png);
    max-width: 100vw;
    max-height: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* EINDE CSS RESET */
/* BEGINRESPONSIVE OPZET */
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
	border: solid 1px grey;
}

/* Voor MOBIEL */
@media only screen and (max-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    #nav_container{
        background-color: rgb(207, 146, 189);
        width: 80vw;
        height: 7vh;
        display: block;
        margin: auto;
        margin-top: 30vh;
        padding-top: 2vh;
        padding-left: 35vw;
    }

    #portfolio{
        margin-left: -8vw;
    }
}

/* Voor DESKTOP */
@media only screen and (min-width: 601px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #nav_container{
    background-color: rgb(207, 146, 189);
    width: 80vw;
    height: 7vh;
    display: block;
    margin: auto;
    margin-top: 30vh;
    padding-top: 2vh;
    padding-left: 35vw;
}
}

.divider_white{
    background-color: black;
    height: 0.2vh;
    width: 80vw;
    align-items: center;
    margin: 0 auto;
    margin-top: 7vh;
    margin-bottom: 4vh;
}

#instagram{
    width: 75px;
    height: 75px;
    background-image: url(Images/Instagram.png);
    background-size: contain;
    background-repeat: no-repeat; ;
}

#facebook{
    width: 75px;
    height: 75px;
    background-image: url(Images/Facebook.png);
    background-size: contain;
    background-repeat: no-repeat; 
}

#twitter{
    width: 75px;
    height: 75px;
    background-image: url(Images/Twitter.png);
    background-size: contain;
    background-repeat: no-repeat;      
}

#linkedin{
    width: 75px;
    height: 75px;
    background-image: url(Images/Linkedin.png);
    background-size: contain;
    background-repeat: no-repeat; 
}


#telephone_box{
    width: 40vh;
    height: 10vh;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat; 
    font: normal;
    font-family: Helvetica;
    color: black;
    font-size: 18pt;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0px;
    padding-bottom: 20px;
}

#phone_link{
    text-decoration: none;
}

#telephone_text{
    font: normal;
    font-family: Helvetica;
    color: black;
    font-size: 18pt;
}

#mail_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30vh;
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat; 
    font: normal;
    font-family: Helvetica;
    color: black;
    font-size: 18pt;
    text-align: left;
    margin: 0 auto;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0px;
    padding-bottom: 25px;
}

#mail_link{
    text-decoration: none;
}

#mail_text{
    font: normal;
    font-family: Helvetica;
    color: black;
    font-size: 18pt;
}

.standard_text{
    width :auto;
    height:auto;
    margin: 0 auto;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: normal;
    font-family: Helvetica;
    color: black;
    font-size: 18pt;
    text-align: center;
}

.standard_text_bold{
    width :auto;
    height:auto;
    margin: 0 auto;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-family: Helvetica;
    color: black;
    font-size: 18pt;
    text-align: center;
    margin-top: 22vh;
}

#title_portfolio{
    color: white;
    font-size: 8vh;
    margin-left: 0vw;
    font-family: futura-pt, sans-serif;
}

.nav{
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 200%;
    color: white;
    text-decoration: none;
    margin-right: 5vw;
}
  